.profileForm {
  background: url(https://imgur.com/GILPXVI.png) no-repeat center center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.Profile-Pic:active {
  border: 0.5px solid black;
}

.CharButton {
  width: 100px;
  height: 100px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 25%;
}
.CharButton:focus {
  border: 7px solid green;
  background-color: tan;
}
.CharButton:hover {
  border-color: green;
  border: 7px dotted green;
}
button {
  width: 400px;
  height: 50px;
  border: .5vmin solid ;
  border-radius: .5vmin;
  background-color: gray;
}
button:focus {
  border: 7px black;
}

button:active{
  border: 10px black;
  background-color: yellow;
}