.App {
  background-image: url(https://imgur.com/TXaN7g4.png);
  height: 100vh;
  font-family: 'Caveat Brush';
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

label {
  font-size: 4vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .5vmin solid black;
  border-radius: .5vmin;
  color: black;
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange); 
} 

button {
  font-family: 'Caveat Brush';
  font-size: 20px;
  border: 5px solid black
  }
  

